

<!-- Page Wrap -->
<div class="page" id="top">

<!-- Top Bar  Can add stuff if we want to 
<div class="top-bar">
    <div class="container clearfix">
        &nbsp; 
    </div>
</div>
 End Top Bar -->

<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="container relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="/" class="logo">
                <h5>MapEats</h5>
                <!--<img src="images/logo-dark.png" alt="" />-->
            </a>

       </div>

        <a href="/about" class="menu-link">
            <strong>About</strong>
        </a>

        <a href="/" class="menu-link">
            Home
        </a>

       

        

    </div>
</nav>
<!-- End Navigation panel -->



<!-- Section -->
<section class="small-section pt-20 pb-0">
<div id="directionsList"  ng-show="false" class="panel panel-primary"></div>

    <div class="container relative"> 
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <img src="images/karan_utensils.png" alt="karan" style="width: 100%;">
			   </div>
         <div class="col-xs-12 text-center">
            <h3>About MapEats</h3>
         </div>
      </div>		
		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12" id="karan">
				<div class="row">
					<div class="col-xs-12">
						<p class="bg-danger pr-10 pt-10 pb-10" style="padding-left: 10px;">You must be using <a href="https://cogs-121-sp17.herokuapp.com"><strong>https</strong></a> for the geolocation and the service to work.
						<br>
						<a href="/">Click to refresh</a> the page. 
						</p> 
					</div>
        </div>
       </div>
      </div>
			
			
				<div class="row">
					<div class="col-xs-12">
               			<h4 class="mb-10">What is MapEats?</h4>
               			<p>
               				MapEats is a cloud based chat bot that unifies Yelp, Google, Wit.AI, and some secret sauce to help you find the best local food joints catered to your preferences!
               			</p>
           </div>
                <div class="row">
					<div class="col-xs-12">
               			<h4 class="mb-10">How do I use MapEats?</h4>
               			<p>
               				Just type what you're craving and Karan (our handy dandy chat bot) will find a restaurant for you!
                      <br>
                      If you think the result is <i class="em em-fire"></i><i class="em em-fire"></i><i class="em em-fire"></i>  then Karan can get you directions. 
               			</p>
          </div>
        </div>

	</div>
<!-- End Section -->

<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-20 pt-30">
    <div class="container">
        <!-- Footer Text -->
        <div class="footer-text">
            <!-- Copyright -->
            <div class="footer-copy font-alt">
                &copy; 2017 MapEats <br>
                Created by Alex Barcenas, Albert Lin, Sanjeev Reddy, Todd Tang
            </div>
            <!-- End Copyright -->
        </div>
        <!-- End Footer Text --> 
     </div>        
</footer>
<!-- End Foter -->

</div>
<!-- End Page Wrap -->






