<!-- Page Wrap -->
<div class="page" id="top">

<!-- Top Bar  Can add stuff if we want to 
<div class="top-bar">
    <div class="container clearfix">
        &nbsp; 
    </div>
</div>
 End Top Bar -->

<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="container relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="/" class="logo">
                <h5>MapEats</h5>
                <!--<img src="images/logo-dark.png" alt="" />-->
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                
                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub active">Home</a>
                    <!--<a href="./chatBot" class="mn" style="margin-left: 10px;">Chatbot</a> -->          
                  
                </li>

            </ul>
        </div>
        <!-- End Main Menu -->
        

    </div>
</nav>
<!-- End Navigation panel -->



<!-- Section -->
<section class="small-section pt-20 pb-0">
<div id="directionsList"  ng-show="false" class="panel panel-primary"></div>

    <div class="container relative">

    	<div class="row mb-20">
			<div class="col-md-8 col-md-offset-2 col-sm-12" id="karan">
				<div class="row">
					<div class="col-xs-9">
               			 <h3 class="blog-item-title font-alt mb-10" id="chatBot" ><img src="images/karan.png" alt="karan" style="height: 54px;">About Mapeats

                		</h3>
                	</div>
                	<div class="col-xs-3">
                		<a href="/" class="animated fadeIn" style="margin-top: 6px; text-align: center; width: 100%; display: block; padding: 7px 2px 7px 2px; background-color: yellow; font-size: 12px;">Home</a>
                	</div>
                </div>
			</div>
		</div>
		
		
		
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-12" id="karan">
				<div class="row">
					<div class="col-xs-10">
               			<h4>What is MapEats?</h4>
               			<p>
               				MapEats is a cloud based, integrated bot that unifies synergy between Yelp, Google, Wit.AI, and the user.
               				<br>
               				Just type what you want and Karan will find a restaurant for you. 
               			</p>
               		</div>
                </div>
                <div class="row">
					<div class="col-xs-10">
               			<h4>What is MapEats?</h4>
               			<p>
               				MapEats is a cloud based, integrated bot that unifies synergy between Yelp, Google, Wit.AI, and the user.
               				<br>
               				Just type what you want and Karan will find a restaurant for you. 
               			</p>
               		</div>
                </div>
			</div>
		</div>
	</div>
	
	
   
<!-- End Section -->


<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60 pt-80">
    <div class="container">
        
        <!-- Social Links -->
        <div class="footer-social-links mb-60 mb-xs-60">
            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
           
        </div>
        <!-- End Social Links -->  
        
        <!-- Footer Text -->
        <div class="footer-text">
            
            <!-- Copyright -->
            <div class="footer-copy font-alt">
                &copy; MapEats
            </div>
            <!-- End Copyright -->
            
           
        </div>
        <!-- End Footer Text --> 
        
     </div>        
</footer>
<!-- End Foter -->


</div>
<!-- End Page Wrap -->






