<!-- Page Wrap -->
<div class="page" id="top">

<!-- Top Bar  Can add stuff if we want to 
<div class="top-bar">
    <div class="container clearfix">
        &nbsp; 
    </div>
</div>
 End Top Bar -->

<!-- Navigation panel -->
<nav class="main-nav js-stick">
    <div class="container relative clearfix">
        <!-- Logo ( * your text or image into link tag *) -->
        <div class="nav-logo-wrap local-scroll">
            <a href="mp-index.html" class="logo">
                <h5>MapEats</h5>
                <!--<img src="images/logo-dark.png" alt="" />-->
            </a>
        </div>
        <div class="mobile-nav">
            <i class="fa fa-bars"></i>
        </div>
        
        <!-- Main Menu -->
        <div class="inner-nav desktop-nav">
            <ul class="clearlist">
                
                <!-- Item With Sub -->
                <li>
                    <a href="#" class="mn-has-sub active">Home</a>
                    <a href="./chatBot" class="mn" style="margin-left: 10px;">Chatbot</a>                       
                  
                </li>
                <!-- End Item With Sub -->
                
                <!-- Item With Sub 
                <li>
                    <a href="#" class="mn-has-sub">Pages <i class="fa fa-angle-down"></i></a>
                    
                    <!-- Sub Multilevel -
                    <ul class="mn-sub mn-has-multi">
                        
                        <li class="mn-sub-multi">
                            <a class="mn-group-title">Group 1</a>
                            
                            <ul>
                                <li>
                                    <a href="pages-about-1.html">About Us 1</a>
                                </li>
                                <li>
                                    <a href="pages-about-2.html">About Us 2</a>
                                </li>
                                <li>
                                    <a href="pages-about-3.html">About Us 3</a>
                                </li>
                                <li>
                                    <a href="pages-services-1.html">Services 1</a>
                                </li>
                                <li>
                                    <a href="pages-services-2.html">Services 2</a>
                                </li>
                                <li>
                                    <a href="pages-services-3.html">Services 3</a>
                                </li>
                                <li>
                                    <a href="pages-clients.html">Clients</a>
                                </li>
                                <li>
                                    <a href="pages-landing.html">Landing Page</a>
                                </li>
                            </ul>
                            
                        </li>
                        
                       
                    </ul>
                    <!-- End Sub Multilevel -->
                    
                </li>
                <!-- End Item With Sub -->
              
            </ul>
        </div>
        <!-- End Main Menu -->
        

    </div>
</nav>
<!-- End Navigation panel -->

<!-- Section 
<section class="small-section pb-0">
    
    <div class="container align-center">
        
        <div class="mb-10">
            <img src="images/logo-footer.png" width="78" height="36" alt="" />
        </div>
        
        <h1 class="magazine-logo-text black font-alt">MapEats</h1>
        
    </div>
    
</section>
<!-- End Section -->


<!-- Section -->
<section class="small-section pt-30">
<div id="directionsList"  ng-show="false" class="panel panel-primary"></div>
<button ng-click="refresh()" class="btn btn-mod btn-small btn-round btn-gray mb-10"> REFRESH MAP</button>
<button ng-click="routeTo()" class="btn btn-mod btn-small btn-round btn-gray mb-10"> ROUTE</button>
<button ng-click="print()" class="btn btn-mod btn-small btn-round btn-gray mb-10"> Print ROUTE</button>

    <div class="container relative">
        
        <div class="row">
            
            <div class="col-sm-12">
                
                <!-- Post Slider -->
                <div class="blog-media mb-70 mb-xs-50">
                    <ul class="clearlist">
                        
                        	<!-- MAP -->
                            <div id="map"></div>
                            <a href="#chatBot" style="text-align: center; width: 100%; display: block; padding-top: 10px; padding-bottom: 10px; background-color: cyan;">Click to go to ChatBot</a>
                        
                    </ul>
                </div>
                <!-- End Post Slider -->
          
                
                <!-- ************************************ 
                
                <div class="align-center mb-70">
                    <a href="#"><img src="libs/images/banners/banner-720x90.png" alt="" /></a>
                </div>
                
                 ************************************ -->
                
			</div>
			<div class="col-md-8 col-md-offset-2 col-sm-12">
                <h3 class="blog-item-title font-alt mb-10" id="chatBot" ><a href="#">ChatBot goes Here</a></h3>
                <a href="#map" class=" animated fadeIn" style="text-align: center; width: 100%; display: block; margin-top: 10px; padding-top: 10px; padding-bottom: 10px; background-color: yellow;">Click to go to Maps</a>
                
				<ul class="window" id="messages">
					<li class="animated fadeInUp">
						Hello! Welcome to MapEats
					</li>
                    <!-- Additional messages are appended -->
				</ul>

				<form style="position: relative; bottom: 0px; margin-top: 20px;">
					<input type="text" style="width: 70%; padding: 3px 0px 3px 3px;" ng-model="message">
                    <input type="submit" class="btn btn-mod btn-small btn-round btn-gray mb-10" ng-click='send()' style="width: 30%; padding-top: 7px; padding-bottom: 7px; position: relative; top: 3px;" value="Submit">
				</form>
			</div>
        </div>
        
    </div>
</section>
<!-- End Section -->


<!-- Section -->
<section class="small-section pt-30">
    <div class="container relative">
        
        <div class="row">
            
            <div class="col-sm-12">
                <div id="directions"></div>
              
            </div>
        </div>
        
    </div>
</section>
<!-- End Section -->


<!-- Foter -->
<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">
        
        <!-- Footer Logo -->
        <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
            <a href="#top"><img src="libs/images/logo-footer.png" width="78" height="36" alt="" /></a>
        </div>
        <!-- End Footer Logo -->
        
        <!-- Social Links -->
        <div class="footer-social-links mb-110 mb-xs-60">
            <a href="#" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
           
        </div>
        <!-- End Social Links -->  
        
        <!-- Footer Text -->
        <div class="footer-text">
            
            <!-- Copyright -->
            <div class="footer-copy font-alt">
                &copy; MapEats
            </div>
            <!-- End Copyright -->
            
           
        </div>
        <!-- End Footer Text --> 
        
     </div>        
</footer>
<!-- End Foter -->


</div>
<!-- End Page Wrap -->






